*{
    margin: 0px;
    padding: 0px;
    border: 1px solid;
}

.template{
    display: grid;
    grid-template-columns: auto;
    grid-row: auto;
    grid-template-areas: 
    "logo" "header"
    "menu"
    "conteudo"
    "footer";
}

.header{
    grid-area: header;
   
}

.grid_menu{
    grid-area: menu;
}

.grid_conteudo{
    grid-area: conteudo;
}

.grid_footer{
    grid-area: footer;
}

.grid_logo{
    grid-area: logo;
    background-color: #E9EFC0;
    
}

.logo{
    width: 200px;
    justify-content: center;
    vertical-align: middle;
    
}

.menu{

    
}